body {
  text-align: center;
  background-color: #eaeaea;
  width: 100%;
  align-items: center;
  height: 100%;
  margin: 0;
}

h1 {
  text-align: left;
  color: #000;
  font-family: "Mali", cursive;
  font-size: 2rem;
  display: block;
}

h2 {
  font-family: "Mali", cursive;
  border-bottom: 2px solid;
}

p {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.head {
  align-items: center;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

nav {
  background-color: #e4685d;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  margin: auto;
}

a {
  text-decoration: none;
  font-family: "Mali", cursive;
  color: white;
}

nav a {
  font-size: 1rem;
  padding-left: 50px;
  padding-right: 50px;
  font-weight: 800;
}

main {
  background-image: url(IMAGES/borna-bevanda-w12NAMymqnk-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  padding-top: 70px;
  padding-left: 100px;
  display: block;
}

.title-border {
  border-left: 6px solid black;
  padding-left: 15px;
}
.title {
  text-align: left;
  color: #000;
  font-family: "Mali", cursive;
  font-size: 2rem;
  display: block;
}

.reservation {
  box-shadow: 0px 0px 68px 14px #ffffff;
  background-color: #e4685d;
  border-radius: 8px;
  border: 3px solid #e96f6f;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Mali", cursive;
  font-size: 20px;
  padding: 10px 20px;
  text-decoration: none;
  text-shadow: 0px 0px 50px #b23e35;
  margin-top: 150px;
  margin-right: 900px;
}

.row {
  text-align: center;
  line-height: 2;
}

.row p {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.table-row{
  align-content: center;
  width: 75%;
}

.picture1 {
  width: 250px;
  float: right;
  margin: auto;
}

.picture2 {
  width: 250px;
  float: left;
  margin: auto;
}

hr {
  border-color: #f67575;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 10%;
}

.features {
  min-height: 250px;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card {
  background: white;
  margin: 0rem 5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 2rem;
  overflow: hidden;
}

.cards {
  display: flex;
  justify-content: space-between;
  color: black;
}

.features p {
  padding: 2rem;
}

.features h4 {
  margin: 2rem 0rem 1rem 0rem;
}

.features img {
  object-fit: cover;
}

.location {
  background-color: #e4685d;
  height: 600px;
  width: 100%;
}
#loc {
  padding-top: 30px;
  text-align: center;
}

.map {
  width: 80%;
  height: 450px;
}

footer {
  margin: auto;
  background-color: hsla(0, 0%, 0%, 0.507);
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;
  font-size: 16px;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
}

.footer-logo {
  width: 60px;
  height: 60px;
}

.footer-link {
  flex: 1;
}

.copyright {
  flex: 1;
}
